body {
    padding-top: 70px; 
    background-color: #EFEFEF;
}

#add, #buy{
    margin: 5px;
}

#menu{
position: fixed; 
top: 0; 
left: 0;
width: 100%;
z-index: 1;
}

#carts .modal-content {
    border-radius: 12px; 
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5); 
}

#cartList {
    max-height: 350px; 
    overflow-y: auto; 
    padding-right: 10px; 
}

#saveProduct, #add, #buy{
    background: rgb(200, 38, 38); 
    border: none;
}

#saveProduct:hover, #add:hover, #buy:hover{
    background-color:#dc3545;
    box-shadow: 0px 0px 10px #dc3545;
    transition: 0.3s;
}

#search{
    border-color: rgb(200, 38, 38);
    color: rgb(200, 38, 38);
}

#search:hover{
    background: rgb(200, 38, 38); 
    color: #fff;
    border: none;
}

#buyProduct{
    background: rgb(200, 38, 38); 
    border: none;
}

#buyProduct:hover{
    background-color:#dc3545;
    box-shadow: 0px 0px 10px #dc3545;
    transition: 0.3s;
}

#totalPrice {
    font-size: 1.2rem;
    font-weight: bold;
    color: #ff4747;
}

.card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
}